<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>


<main>
  <div>
      <% profiles.forEach(profile => { %>
        <div class="col">
          <a style="text-decoration: none" href="/profiles/<%= profile._id %>">
            <div>
              <% if (profile.avatar) { %>
                <img
                  src="<%= profile.avatar %>"
                  alt="<%= profile.name %>'s avatar"
                  width="50%"
                />
              <% } %>
              <div class="card-body">
                <p class="card-title fs-3 text-dark"><%= profile.name %></p>
              </div>
            </div>
          </a>
        </div>
      <% }) %>
    </div>
</main>

<%- include('../partials/footer') %>