<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<link rel="stylesheet" href="/stylesheets/profile.css">


<main class="profiles">
  <div >
      <% profiles.forEach(profile => { %>
        
          <a style="text-decoration: none" href="/profiles/<%= profile._id %>">
            <p>
              <% if (profile.avatar) { %>
                <img
                  src="<%= profile.avatar %>"
                  alt="<%= profile.name %>'s avatar"
                  width="50%"
                />
              <% } %>
              
                <p><%= profile.name %></p>
              
              </p>
          </a>
        
      <% }) %>
    </div>
</main>

<%- include('../partials/footer') %>