<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<link rel="stylesheet" href="/stylesheets/profile.css">


<main class="profiles">
  <div >
      <% profiles.forEach(profile => { %>
        
          <a style="text-decoration: none" href="/profiles/<%= profile._id %>">
            <div>
              <% if (profile.avatar) { %>
                <img
                  src="<%= profile.avatar %>"
                  alt="<%= profile.name %>'s avatar"
                  width="50%"
                />
              <% } %>
              <div class="card-body">
                <p> <%= profile.name %></p>
              </div>
            </div>
          </a>
        
      <% }) %>
    </div>
</main>

<%- include('../partials/footer') %>