<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (profile.avatar) { %>
    <div>
      <img 
        class="profile-avatar"
        src="<%= profile.avatar %>" 
        alt="<%= profile.name %> avatar"
      >
    </div>
  <% } %>

  
  <h1><%= isSelf ? "Your Profile" : `${profile.name}'s Profile` %></h1>
  
  <h2>Projects</h2>
  <ul>
    <% profile.projects.forEach(project => { %>
      <li><% project.name %> </li>
      <li><% project.startDate %> </li>
    <%}) %> 
  </ul>

</main>

<%- include('../partials/footer') %>