<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/new.css">
<%- include('../partials/nav') %>
<body>
  <main>

    <section>
      <h1>Edit Project</h1>
      <form action="/projects/<%= project._id %>?_method=PUT" method="POST">
        <label>
          Name: 
          <input 
          type="text"
          name="name" 
          value="<%= project.name %>" 
          autocomplete="off"
          >
        </label>
        <label>
          Started on <%= new Date(project.startDate).toLocaleDateString() %></label>
        <label>
          Completed?
          <input 
          type="checkbox" 
          name="completed" 
          <%= project.completed ? "checked" : "" %> 
          >
        </label>
        <label>
          Description: 
        </label>
          <textarea type="text" name="description" id="description" autocomplete="off"><%= project.description %></textarea>
        <button type="submit">Save Changes</button>
      </form>
    </section>
  </main>
  </body>

<%- include('../partials/footer') %>