<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<link rel="stylesheet" href="/stylesheets/project.css">

<body>
  

<section id="project">
  <h1><%= project.name %></h1>
  <h2>Started By: <%= project.owner.name %> on <%= new Date(project.startDate).toLocaleDateString() %></h2>
  <h2>Status: <%= project.completed ? 'Complete' : 'Incomplete'%> </h2>
  <h2>About: <%= project.description %> </h2>
  <% if (project.owner.equals(user?.profile._id)) { %>
    <form action="/projects/<%= project._id %>/edit" method="GET">
      <button class="btn" type="submit">Edit Project</button>
    </form>
    <form action="/projects/<%= project._id %>?_method=DELETE" method="POST">
      <button class="btn" type="submit" onclick="return confirm('Are you sure you would like to delete this project?')">Delete Project</button>
    </form>
  <% } %>
</section>
<section id="comments">
  <h2>Comments</h2>
  <form 
    action="/projects/<%= project._id %>/comments"
    id="add-comment-form"
    method="POST"
  >
    <textarea type="text" name="content" id="comment" required></textarea>
  </form>
  <button type="submit" form="add-comment-form">Add Comment</button>
  <% if (project.comments.length) { %>
        <% project.comments.forEach(function(comment) { %>
          <p><%= comment.content %></p>
          <h3>  
            <%= comment.author.name %>
          </h3>
          <div>
          at <%= comment.createdAt.toLocaleDateString() %> 
          </div> 
          <hr class="solid">
        <% }) %>
  <% } else { %>
    <h3>No Comments Yet</h3>
  <% } %> 
</section>
</body>

<%- include('../partials/footer') %>